.hero_section_container_{
    height: 91vh;
    width: 100vw;
    display: flex;
   /* align-items: center;*/
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.herosectioncontent{
    width: 48%;
    height: max-content;
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.herosectioncontent p{
    font-size: 45px;
    color:#1f4b43;
    text-align: center;
}
.herosectioncontent span{
    font-size: 45px;
    color:#1f4b43;
    text-align: center;
    padding: 0 3rem;
}
.btn_container{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    gap:24px
}
