.info_container{
    width: full;
    height: auto;
    overflow-x: hidden;
    
}
.info_inner_container{
    width: 100%;
    max-width: 75%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
   
}
.info_description{
    width:full;
    height: 70vh;
    
}
.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:0px 25px;
}
.info-body{
    text-align: justify;
    color:#141115;
    font-size: 24px;
}
.info-title{
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color:#1f4b43;
    margin-bottom: 5px;
}
.info-subtitle{
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.info_image{
    width: full;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.image{
    width: 70%;
    height: 300px;
    padding-top: 2rem;
    
}
@media (max-width:841px) {
.info_inner_container{
    grid-template-columns:repeat(1, 1fr);
    max-width: 100%;
}
.image{
    width: 100%;
    height: 300px;
}
.info_image{
    width: full;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
       
}
.info_description{
    width:full;
    height: 50vh;
}
.info{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 85%;
    justify-content: center;
    margin: 0px auto;
    
}
}