*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_container{
    background-color: #1f4b43;
}

.header_foot{
    color: #fff;
    
}
.footer_list{
     color: #fff;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem;
    
        
}
.footer_list a{
    color: #fff;
    
}
.footer_list ul{
    list-style-type: none;
    justify-items: center;

}
.footer_list li{
    margin: 5px 0;
}
