.Form_contact{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.container_cont{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact_info{
    background-color:#1f4b43;
    color: #ffffff;
    
}
.contact_info_list,ul{
    list-style-type: none;
    color: #ffffff;
    grid: 10px;
}
.contact_form{
    background-color: #ffffff;
    color: #1f4b43;
    height: auto;
    width: 100%;
    border: 0px solid #1f4b43;
}
.form_field{
    display: flex;
    align-items: flex-start;
}

