*{
    border: solid red;
}
.header_main{
border: 2px solid green;
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}
.header_cta{
display: flex;
gap: 8px;
align-items: center;
justify-content: space-between;
}
.header_cta ul li {
    list-style: none;
    color:black;
    font-size: 12px;
}
.header_cta ul li a {
    color: rgb(0,0,0);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
     
}