.header_main{
display: flex;
height: 9vh;
align-items: center;
justify-content: space-between;
padding: 0 10rem;
}

.header_cta{
display: flex;
gap: 8px;
align-items: center;
justify-content: space-between;
}
.header_cta ul li {
    list-style: none;
    color:black;
    
}
.header_cta ul li a {
    color: rgb(0,0,0);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 14px;
     
}
desktop-logo{
    display: none;
}

@media (max-width :768px) { 
    .mobile-logo{
        display: block;
    }
    .header_main{
        justify-content: space-between;
        height: 100vh;
        padding:0 ;
    }
    
    .menu{
        display: block;
        padding: 10px;
    }
    .header_cta{
        padding-right:10px;
        flex-direction: row;
        gap: 10px; 
    }
    .header_cta ul li{
        display: none;
    }
    .header_cta ul li a{
        font-size: 12px;
    }
}
