.sub_hero_section_container {
    height: 236px;
    background-color: #1f4b43;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    overflow: hidden;
  }
  
  .sub_hero_text {
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .sub_hero_section_container {
      flex-direction: column;
      padding: 0 2rem;
      justify-content: center;
      gap: 15px;
    }
    .sub_hero_text h1 {
      font-size: 20px;
      text-align: center;
    }
    .sub_hero_text p {
      font-size: 15px;
      text-align: center;
    }
  }